<!DOCTYPE html>
<html>
<head>
  <title>Log tracker</title>
  <%= stylesheet_link_tag    "log/tracker/application", media: "all" %>
  <%= javascript_include_tag "log/tracker/application" %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
             
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#">Audit Logger</a>
          </div>
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <%= link_to "Apps", apps_path %>
              </li>
              <li>
                <%= link_to "Errors", problems_path %>
              </li>
            </ul>
          </div>
        </nav>
        <%= yield %>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

</body>
</html>
