<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Env</th>
      <th>Messages</th>
      <th>Where</th>
      <th>Resolved</th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each_with_index do |problem, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= problem.environment %></td>
      <td><%= problem.messages %></td>
      <td><%= problem.where %></td>
      <td>
        <%= button_to "#{problem.resolved}", problem_resolve_path(problem), method: :put, class: "btn btn-xs #{button_class(problem.resolved)}" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
