<% if @apps.none? %>
  <h1>No apps here. Please create one.</h1>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
        <th>
          Errors
        </th>
      </tr>
    </thead>
    <tbody>
      <% @apps.each_with_index do |app, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= app.name %></td>
        <td><%= app.problems.count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
